---
layout: default
---
<div class="col-sm-8">
	{% include list/fileLoader.html %}
	{% include list/networks.html %}
	{% include list/nodes.html %}
	{% include list/tasks.html %}

	<div class="btn-group">
		<button type="button" class="btn btn-default btn-xs dark" onclick="jQuery('body').attr('data-theme', 'dark'); jQuery('link#main_style_sheet').attr('href', 'assets/css/bootstrap-darkly.min.css')">Dark Theme</button>
		<button type="button" class="btn btn-default btn-xs bright" onclick="jQuery('body').attr('data-theme', 'bright'); jQuery('link#main_style_sheet').attr('href', 'assets/css/bootstrap.min.css')">Bright Theme</button>
	</div>
</div>
	
<div class="panel-group" data-spy="affix" style="right:10px; width:33%; top:10px" >

	{% include panel/navigation.html %}
	{% include panel/currentTask.html %}
	{% include panel/publishCommand.html %}
	{% include panel/editor.html %}
	
</div>