<div class="panel panel-default">
	<div class="panel-heading" data-toggle="collapse" data-target="#publishCommandPanel">
		Publish Command
	</div>
	<div class="panel-body panel-collapse collapse" id="publishCommandPanel">
		<label>Node:</label>
		<select class="form-control"></select>
		<br>
		<label style="display:block">Command:<input type="text" class="form-control"></label>
		<button type="button" class="btn btn-warning" onclick="publishCommandPanel_onClick()">Publish</button>
	</div>
</div>